body, html{
    font-family: sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.main-but{
    width: 100%;
    display: flex;
    justify-content: center;
}
.butt{
    width: fit-content;
    display: flex;
    margin-top: 50px;
    border: 2px solid blueviolet;
    padding: 10px 0 10px 0;
}
button{
    color: #fff;
    background-color: blueviolet;
    padding: 5px 5px 5px 5px;
    /* font-size: 1rem; */
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}
#img{
    display: block;
    position: relative;
    width: 100%;
}
h1{
    font-weight: bolder;
    text-align: center;
}
#card{
    border: 2px solid blueviolet;
    width: 70%;
    margin-bottom: 20px;
}
#list{
    text-transform: capitalize;
}
.aaa{
    display: flex;
    justify-content: center;
}
#output{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    margin-left: 10%;margin-top: 100px;
}
p{
    margin-left: 40px;
    text-decoration-line: underline;
}
ul li{
    list-style: none;
}
h2{
    color: blueviolet;
}
center{
    margin-bottom: 10px;
}
@media screen and (max-width:769px) {
    #output{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        margin-left: 10%;
        margin-top: 100px;
    }
}
@media screen and (max-width:550px) {
    #output{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-between;
        margin-left: 18%;
        margin-top: 100px;
    }
    #card{
        border: 2px solid blueviolet;
        width: 80%;
        margin-bottom: 20px;
    }
}